.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center !important;
  }
  &-size {
    &-normal {
      font-size: 14px;
    }
    &-small {
      font-size: 0.8em;
    }
    &-medium {
      font-size: 1.2em;
    }
    &-large {
      font-size: 1.4em;
    }
    &-big {
      font-size: 2em;
    }
  }
  &-color {
    &-red {
      color: red;
    }
    &-positive {
      color: #21ba45;
    }
  }
}

.login-container {
  height: 100vh;
}

.button {
  &-login {
    width: 150px;
  }
}

body {
  font-size: 14px;
}

.padding {
  &-top {
    &-twelve {
      padding-top: 12px;
    }
    &-big {
      padding-top: 30px;
    }
  }
  &-vertical {
    &-large {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
